apisix:
  enabled: true
  image:
    repository: apache/apisix
    tag: 3.9.1-debian

  admin:
    enabled: true
    type: NodePort
    port: 9180
    nodePort: 30180
    adminAPIVersion: v3
    allow:
      ipList:
        - 0.0.0.0/0
    credentials:
      admin: "poc-admin-key-2024"
      viewer: "poc-viewer-key-2024"

  gateway:
    type: NodePort
    http:
      enabled: true
      containerPort: 9080
      nodePort: 30080
    tls:
      enabled: true
      containerPort: 9443
      nodePort: 30443

  pluginAttrs:
    prometheus:
      export_addr:
        ip: "0.0.0.0"
        port: 9091

  plugins:
    - traffic-split
    - proxy-rewrite
    - response-rewrite
    - key-auth
    - jwt-auth
    - cors
    - ip-restriction
    - limit-req
    - limit-count
    - api-breaker
    - prometheus
    - http-logger
    - zipkin
    - opentelemetry
    - request-validation
    - client-control
    - real-ip
    - redirect
    - grpc-transcode
    - public-api

etcd:
  enabled: true
  replicaCount: 1
  persistence:
    enabled: false

dashboard:
  enabled: false

ingressController:
  enabled: false
